# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environment

venv/
env/
ENV/

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Environment variables

.env

# OS files

.DS_Store
Thumbs.db

# IDE settings

.vscode/
.idea/

# Python build files

build/
dist/
*.egg-info/

# Logs

*.log

# Temporary files

*.tmp
*.swp
