<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AQI Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="app">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">AQI</h2>
        <nav>
            <a href="/" class="nav-item active">🌫 Predict</a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
